*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #505050;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    background-color: white;
    padding: 15px 25px;
    
}
.logo{
    display: flex;
    align-content: center;
    justify-items: center;
    min-width: 110px;
}
.logo img{
    width: 100%;
}


nav div:nth-child(2){
    width: 100%;
}
.navbar{
    display: flex;
    gap: 25px;
    height: 100%;
    align-items: center;
}

li{
    list-style: none;
}

.button{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.primary{
    background-color: #898989;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.secondary{
    padding: 10px;
    border: 1px solid #898989;
    border-radius: 8px;   
}